In [24]:
import pandas as pd
import random
import numpy as np

In [30]:
df = pd.DataFrame({'Date': pd.date_range('01-01-2020', '01-03-2020'),
                  'temperature': [32, 25, 28],
                  'wind speed': [6, 7, 2],
                  'event': ['Sunny', 'Windy', 'Cloudy']
                  })
print(df)

        Date  temperature  wind speed   event
0 2020-01-01           32           6   Sunny
1 2020-01-02           25           7   Windy
2 2020-01-03           28           2  Cloudy

In [23]:
df.to_csv('C:\\Users\\ASUS\\Desktop\\code_practice\\Data_Processing.csv', sep = ',', index = False)

In [18]:
r = random.randint(1, 10)
print(r)

r2 = random.sample(range(0, 30), k = 2)
print(r2)

Col_3 = random.sample('abcdefghijklmnopqrstuvwxyz', k = 19)
print(Col_3)

8
[2, 1]
['a', 'l', 't', 'i', 'e', 'v', 'g', 'y', 'f', 'q', 'x', 'c', 'w', 'n', 'j', 'u', 'p', 'k', 'r']

In [34]:
#Read the df which is re-modified manually after being created.
df_new = pd.read_csv('Data_Processing.csv', parse_dates = ['Date']) #Using parse_dates to translate it (str) to date time index
df_new

        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04          NaN         9.0     NaN
4 2020-01-05         29.0         NaN   Rainy
5 2020-01-06         27.0         NaN   Sunny
6 2020-01-07          NaN        11.0   Windy
7 2020-01-08          NaN        16.0     NaN
8 2020-01-09         26.0         NaN   Windy

In [ ]:
print(type(df_new['Date']))

# fillna

In [8]:
#Fill the missing value by the value previous to the missing place
df_ffill = df_new.fillna(method = 'ffill')
print(df_ffill)

# Fill by value next to the missing place
df_bfill = df_new.fillna(method = 'bfill')
print(df_bfill)

        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04         28.0         9.0  Cloudy
4 2020-01-05         29.0         9.0   Rainy
5 2020-01-06         27.0         9.0   Sunny
6 2020-01-07         27.0        11.0   Windy
7 2020-01-08         27.0        16.0   Windy
8 2020-01-09         26.0        16.0   Windy
        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04         29.0         9.0   Rainy
4 2020-01-05         29.0        11.0   Rainy
5 2020-01-06         27.0        11.0   Sunny
6 2020-01-07         26.0        11.0   Windy
7 2020-01-08         26.0        16.0   Windy
8 2020-01-09         26.0         NaN   Windy

In [26]:
### Specify some columns to fill the missing parts by value assigned.
df_specify = df_new.fillna({'temperature': 10,
                            'wind speed': 6,
                            'event': 'Sunny'
    
})
print(df_specify)

#Fill by the mean value to the missing parts in specific column.
df_specify2 = df_new.fillna({'temperature': np.mean(df_new.temperature),
                              'wind speed': np.mean(df_new['wind speed']),
                              'event': 'Windy'
    
})
print(df_specify2)

        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04         10.0         9.0   Sunny
4 2020-01-05         29.0         6.0   Rainy
5 2020-01-06         27.0         6.0   Sunny
6 2020-01-07         10.0        11.0   Windy
7 2020-01-08         10.0        16.0   Sunny
8 2020-01-09         26.0         6.0   Windy
        Date  temperature  wind speed   event
0 2020-01-01    32.000000         6.0   Sunny
1 2020-01-02    25.000000         7.0   Windy
2 2020-01-03    28.000000         2.0  Cloudy
3 2020-01-04    27.833333         9.0   Windy
4 2020-01-05    29.000000         8.5   Rainy
5 2020-01-06    27.000000         8.5   Sunny
6 2020-01-07    27.833333        11.0   Windy
7 2020-01-08    27.833333        16.0   Windy
8 2020-01-09    26.000000         8.5   Windy

# interpolate

In [62]:
#Interpolate the missing data following time stamps.
#Can only work on data with datetime index and our data has datetime form but not yet index
#Setting datetime index
df_new2 = df_new.set_index('Date')
df_interpolate = df_new2.interpolate(method = 'time')
print(df_interpolate)
#The missing value will be interpolated by the value more close to itself in a day, rather than by linearly interpolated value.
#This is useful when the time stamps are not consecutive where the over-/under-estimation can eithe/both happen.
#Not applied to Categorical values.

print('----------------------------------------')

#Interpolate linearly
df_linear_interpo = df_new2.interpolate(method = 'linear')
print(df_linear_interpo)
# No difference from time interpolate cuz the time stamps are consecutive.

            temperature  wind speed   event
Date
2020-01-01    32.000000    6.000000   Sunny
2020-01-02    25.000000    7.000000   Windy
2020-01-03    28.000000    2.000000  Cloudy
2020-01-04    28.500000    9.000000     NaN
2020-01-05    29.000000    9.666667   Rainy
2020-01-06    27.000000   10.333333   Sunny
2020-01-07    26.666667   11.000000   Windy
2020-01-08    26.333333   16.000000     NaN
2020-01-09    26.000000   16.000000   Windy
            temperature  wind speed   event
Date
2020-01-01    32.000000    6.000000   Sunny
2020-01-02    25.000000    7.000000   Windy
2020-01-03    28.000000    2.000000  Cloudy
2020-01-04    28.500000    9.000000     NaN
2020-01-05    29.000000    9.666667   Rainy
2020-01-06    27.000000   10.333333   Sunny
2020-01-07    26.666667   11.000000   Windy
2020-01-08    26.333333   16.000000     NaN
2020-01-09    26.000000   16.000000   Windy

# replace na

In [79]:
#Replace one value by another (in this case, by 0)
df_replace = df_new.replace(np.NaN, 0)
print(df_replace)

#Replace many (more than one) value across different columns that represent missing value with NaN.
df_replace2 = df_new.replace({'temperature': 0,
                             'wind speed' : 9}, np.NaN)
print(df_replace2)

        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04          0.0         9.0       0
4 2020-01-05         29.0         0.0   Rainy
5 2020-01-06         27.0         0.0   Sunny
6 2020-01-07          0.0        11.0   Windy
7 2020-01-08          0.0        16.0       0
8 2020-01-09         26.0         0.0   Windy
        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04          NaN         NaN     NaN
4 2020-01-05         29.0         NaN   Rainy
5 2020-01-06         27.0         NaN   Sunny
6 2020-01-07          NaN        11.0   Windy
7 2020-01-08          NaN        16.0     NaN
8 2020-01-09         26.0         NaN   Windy

In [82]:
#Replace the categorical labels by corresponding numbers.
df_replace_name = df_new.replace(['Sunny', 'Windy', 'Rainy', 'Cloudy'], [1, 2, 3, 4])
print(df_replace_name)

        Date  temperature  wind speed  event
0 2020-01-01         32.0         6.0    1.0
1 2020-01-02         25.0         7.0    2.0
2 2020-01-03         28.0         2.0    4.0
3 2020-01-04          NaN         9.0    NaN
4 2020-01-05         29.0         NaN    3.0
5 2020-01-06         27.0         NaN    1.0
6 2020-01-07          NaN        11.0    2.0
7 2020-01-08          NaN        16.0    NaN
8 2020-01-09         26.0         NaN    2.0

In [40]:
print(df_new['event'].value_counts()) #Check frequency of class labels.
print(np.mean(df_new['temperature']))
print(df_new)

Windy     3
Sunny     2
Rainy     1
Cloudy    1
Name: event, dtype: int64
27.833333333333332
        Date  temperature  wind speed   event
0 2020-01-01         32.0         6.0   Sunny
1 2020-01-02         25.0         7.0   Windy
2 2020-01-03         28.0         2.0  Cloudy
3 2020-01-04          NaN         9.0     NaN
4 2020-01-05         29.0         NaN   Rainy
5 2020-01-06         27.0         NaN   Sunny
6 2020-01-07          NaN        11.0   Windy
7 2020-01-08          NaN        16.0     NaN
8 2020-01-09         26.0         NaN   Windy

In [84]:
df_new.columns[0]
print(len(df_new.columns))
print(df_new[df_new.columns[0]]) #.index.values[1])
print(df_new.iloc[1, 0])

4
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
5   2020-01-06
6   2020-01-07
7   2020-01-08
8   2020-01-09
Name: Date, dtype: datetime64[ns]
2020-01-02 00:00:00

In [75]:
df_new.iloc[3, 1] == 'nan'

False