In [1]:
import pandas as pd
import numpy as np

In [17]:
from dateutil.parser import parse

In [41]:
#Create a new date column
date_str = ['2020-12-11', '2020-12-12', '2020-12-13', 
            '2020-12-11', '2020-12-12', '2020-12-13', 
            '2020-12-11', '2020-12-12', '2020-12-13']
#A new list where transformation/parse from str to date format can be operated
new_date = [parse(d) for d in date_str]
#Transform date string into date format in '%Y-%M-%D' (still be the string in data type)
date = [d.strftime('%Y-%m-%d') for d in new_date]
print(date)
print(type(date))

['2020-12-11', '2020-12-12', '2020-12-13', '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-11', '2020-12-12', '2020-12-13']
<class 'list'>

In [42]:
df = pd.DataFrame({'Date': date,
        
                   'City':['New York', 'New York', 'New York', 
                           'Mumbai', 'Mumbai', 'Mumbai', 
                           'Beijing', 'Beijing', 'Beijing'],
                   
                   'Temperature':[65, 66, 68, 75, 78, 82, 80, 77, 79],
                   'Humidity':[56, 58, 60, 80, 83, 85, 50, 40, 35]
                   
})

In [43]:
df

         Date      City  Temperature  Humidity
0  2020-12-11  New York           65        56
1  2020-12-12  New York           66        58
2  2020-12-13  New York           68        60
3  2020-12-11    Mumbai           75        80
4  2020-12-12    Mumbai           78        83
5  2020-12-13    Mumbai           82        85
6  2020-12-11   Beijing           80        50
7  2020-12-12   Beijing           77        40
8  2020-12-13   Beijing           79        35

# pivot function

In [51]:
# Pivot function
# Aim to analyse: At what day (as index), which city (in column) has what temperature (value).
df_p = df.pivot(index = 'Date', columns = 'City', values = 'Temperature')
print(df_p)
df_p = df.pivot(index = 'Date', columns = 'City', values = ['Temperature', 'Humidity'])
print(df_p)

City        Beijing  Mumbai  New York
Date
2020-12-11       80      75        65
2020-12-12       77      78        66
2020-12-13       79      82        68
           Temperature                 Humidity
City           Beijing Mumbai New York  Beijing Mumbai New York
Date
2020-12-11          80     75       65       50     80       56
2020-12-12          77     78       66       40     83       58
2020-12-13          79     82       68       35     85       60

# pivot_table function

In [61]:
#Create a new datafrmae that suits the use of pivot table function
# Create Date column
date_str2 = ['2020-05-01', '2020-05-01', '2020-05-02', '2020-05-02', # partial date string for New York
           '2020-05-01', '2020-05-01', '2020-05-02', '2020-05-02'] # partial date string for Mumbai
new_date = [parse(d) for d in date_str2]
date_date_time = [d.strftime('%Y-%m-%d') for d in new_date]

# Create new data frame with date time column we've just set.
df2 = pd.DataFrame({'Date':date_date_time,
                    
                    'City':['New York', 'New York', 'New York', 'New York',
                            'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai'],
                    
                    'Temperature':[65, 61, 70, 72,
                                  75, 78, 82, 80],
                    
                    'Humidity':[56, 54, 60, 66,
                               80, 82, 85, 78]
})

df2

         Date      City  Temperature  Humidity
0  2020-05-01  New York           65        56
1  2020-05-01  New York           61        54
2  2020-05-02  New York           70        60
3  2020-05-02  New York           72        66
4  2020-05-01    Mumbai           75        80
5  2020-05-01    Mumbai           78        82
6  2020-05-02    Mumbai           82        85
7  2020-05-02    Mumbai           80        78

In [64]:
# Use pivot_table function to aggreate data sorted by pivot-based table transformation.
df_pt = df2.pivot_table(index = 'Date', columns = 'City', aggfunc = np.mean)
print(df_pt)

df_pt = df2.pivot_table(index = 'City', columns = 'Date', aggfunc = np.mean)
print(df_pt)

           Humidity          Temperature
City         Mumbai New York      Mumbai New York
Date
2020-05-01     81.0     55.0        76.5     63.0
2020-05-02     81.5     63.0        81.0     71.0
           Humidity            Temperature
Date     2020-05-01 2020-05-02  2020-05-01 2020-05-02
City
Mumbai         81.0       81.5        76.5       81.0
New York       55.0       63.0        63.0       71.0

In [69]:
# Using values can also assign column to aggregate
df_pt = df2.pivot_table(index = 'City', columns = 'Date', values = 'Temperature', aggfunc = np.mean)
print('Pivot table: Temperature aggregation by mean')
print(df_pt) # Shows only the result of Temperature

#Add margins = True to sum the pivot rows up (See 'ALL' column added to the resulting pivot table)
df_pt = df2.pivot_table(index = 'City', columns = 'Date', values = ['Temperature', 'Humidity'], 
                       aggfunc = np.mean, margins = True)
print(df_pt)

Pivot table: Temperature aggregation by mean
Date      2020-05-01  2020-05-02
City
Mumbai          76.5        81.0
New York        63.0        71.0
           Humidity                    Temperature
Date     2020-05-01 2020-05-02     All  2020-05-01 2020-05-02     All
City
Mumbai         81.0      81.50  81.250       76.50       81.0  78.750
New York       55.0      63.00  59.000       63.00       71.0  67.000
All            68.0      72.25  70.125       69.75       76.0  72.875

# Explore and maipulate pivot tables

In [75]:
print('Length of pivot table aggregated', len(df_pt)) 
print('Index:', df_pt.index.values) #Use the df.index.values to identify list of index 
print('Assign the exact position of index:', df_pt.index[0]) # Assign the posisition to pick up index
#calculate = df_pt.inde

Length of pivot table aggregated 3
Index ['Mumbai' 'New York' 'All']
Assign the exact position of index Mumbai

In [81]:
print(df_pt.columns.values) #The column names are kept in tuples
print(df_pt.columns.values[0]) # An one single column name positioned in first column
print('The element in first column and first rows', df_pt.iloc[0, 0])

[('Humidity', '2020-05-01') ('Humidity', '2020-05-02') ('Humidity', 'All')
 ('Temperature', '2020-05-01') ('Temperature', '2020-05-02')
 ('Temperature', 'All')]
('Humidity', '2020-05-01')
81.0

# Showing the aggregated value at the end date of the month (or similar)

Applying pandas.Grouper() in pivot_table() function to group the data following index, so that we can sort and aggregate the table with it.

In [82]:
# Create dataset
date_str3 = ['2020-05-01', '2020-05-02', '2020-05-03', #First month
           '2020-12-20', '2020-12-21', '2020-12-22']
new_date = [parse(d) for d in date_str3]
date_date_time = [d.strftime('%Y-%m-%d') for d in new_date]

# Focusing on one city, with different values in more than a month
df3 = pd.DataFrame({'Date':date_date_time,
                    'City':['New York', 'New York', 'New York',
                           'New York', 'New York', 'New York'],
                    'Temperature':[65, 61, 70,
                                  35, 28, 18],
                    'Humidity':[56, 54, 59,
                               64, 62, 56]
    
})
df3

         Date      City  Temperature  Humidity
0  2020-05-01  New York           65        56
1  2020-05-02  New York           61        54
2  2020-05-03  New York           70        59
3  2020-12-20  New York           35        64
4  2020-12-21  New York           28        62
5  2020-12-22  New York           18        56

In [88]:
#When apply pd.Grouper, the key passed to it should always be datetime Index or period index.
df3['Date'] = pd.to_datetime(df3['Date'])

df_pt_grouper = df3.pivot_table(index = pd.Grouper(freq = 'M', key = 'Date', axis = 0), 
                                columns = ['City'], values = ['Temperature', 'Humidity'], 
                                aggfunc = np.median)
df_pt_grouper

           Humidity Temperature
City       New York    New York
Date
2020-05-31       56          65
2020-12-31       62          28

In [15]:
a = pd.date_range(start = '2020-12-10', end = '2020-12-13').to_list()
print(a)

[Timestamp('2020-12-10 00:00:00', freq='D'), Timestamp('2020-12-11 00:00:00', freq='D'), Timestamp('2020-12-12 00:00:00', freq='D'), Timestamp('2020-12-13 00:00:00', freq='D')]

In [18]:
a = pd.date_range(start = '2020-12-10', end = '2020-12-13')
print(list(a))

[Timestamp('2020-12-10 00:00:00', freq='D'), Timestamp('2020-12-11 00:00:00', freq='D'), Timestamp('2020-12-12 00:00:00', freq='D'), Timestamp('2020-12-13 00:00:00', freq='D')]

In [35]:
City = ['New York', 'New York', 'New York', 
                           'Mumbai', 'Mumbai', 'Mumbai', 
                           'Beijing', 'Beijing', 'Beijing']
print(type(City))
print(City)

<class 'list'>
['New York', 'New York', 'New York', 'Mumbai', 'Mumbai', 'Mumbai', 'Beijing', 'Beijing', 'Beijing']